{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    {% for category in categories %}
        <h3><a href="{{ path('blog_show_category', {'category': category.name}) }}">{{ category.name }}</a></h3> <br />
        <ul>
            {% for article in category.articles %}
                <li><a href="{{ path('blog_article', { 'id': article.id }) }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
